th.sort.asc:after {
  content: "\f160";
  font-family: FontAwesome;
  position: absolute;
  margin-left: 10px;
}

th.sort.desc:after  {
  content: "\f161";
  font-family: FontAwesome;
  position: absolute;
  margin-left: 10px;
}

th.sort:after {
  content: "\f0c9";
  font-family: FontAwesome;
  position: absolute;
  margin-left: 10px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 15px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.glyphicon {
  margin-bottom: 10px !important;
  margin-right: 5px !important;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.thumbnails img {
  transition: .2s ease-in-out;
}

.thumbnails:hover img {
  opacity: .6;
  transform: scale(.92);
}

.thumbnails img:hover {
  opacity: 1;
  transform: rotate(2deg);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.thumbnails a {
  padding-right: 10px;
}
